html {
    overflow-y:scroll;
}

body {
    padding-top: 70px;
    background-color: #ffffff;
    /*** Picture Credit to Anastasia Zhenina: https://unsplash.com/photos/SNdEJFlzSko ***/
    background-image: url("https://hd.unsplash.com/photo-1441393896022-4b7a439d4003");
    background-size: 100% 100vh;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
}

.white-line {
    color: white;
    border-width: 2px;
    margin-top: -3px;
}

.nav-link {
    color: #ffffff;
}


p{
  text-indent: 4em;
  font-size: 2.5vh;
}

#title {
    font-family: 'Bitter', 'sans-serif';
}

.shadow {
    box-shadow: 7px 7px 5px #222222;
}
    
.proj-block {
    width: 100%;
    height: 36vh;
    margin-bottom: 5vh;
    color: #ffffff;
    box-shadow: 7px 7px 5px #222222;
}

.class-block {
/*    background-color: #f7f7f7;*/
    background-color: #000000;
    box-shadow: 7px 7px 5px #222222;
}

.block {
    background-color: #ffffff;
    color: #000000;
    height: 100%;
}

.block-header {
    background-color: #222222;
    font-size: 2.5vh;
}

.proj-title {
    font-size: 3vh;
    text-align: center;
    padding-left: .6em;
    padding-top: .2em;
    padding-bottom: .2em;
}

.proj-desc {
    font-size: 2.7vh;
    padding: 1em;
}

.section {
    border-bottom: 2px solid #222222;
}

/* Index */

.action-circle {
    padding: 8px;
}

.hero-unit {
    background-size:cover;
    background-color: #EEEEEE;
    padding: .7em 2em 3em 4em;
/*    box-shadow: 7px 7px 5px #222222;*/
}

#index-hero {
}


/* About */

#compsci {
    width: 30vw;
    display: inline-block;
    margin-left: 5vw;
    padding: 1.5em;
    background-image: linear-gradient(rgba(255, 75, 0, 0.3), rgba(0, 0, 50, 0.5)), url('/assets/pictures/who-am-i/compsci.jpg');
}

#cogsci {
    width: 30vw;
    display: inline-block;
    margin-left: 6vw;
    padding: 1.5em;
    background-image: linear-gradient(rgba(50, 0, 0, 0.5), rgba(0, 0, 50, 0.5)), url('/assets/pictures/who-am-i/cogsci.jpg');
}

#research-hero {
    background-image:url('/assets/pictures/research/hero.png');
    height:20vh;
}

.footer {
  background-color: #222222;
  position: 0;
  
}

/* Effects */

#periodic {
    animation: blink 1s infinite;
/*
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
*/
}

@keyframes blink{
    to {
        opacity: .01;
    }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

