<footer class="site-footer navbar-fixed-bottom">

    <br>
    <div class="row">
      <div class="col-md-4">
        <ul class="contact-list" style="list-style-type:none; padding-bottom: .75em;">
          <li>{{ site.title }}</li>
            <li><a href="mailto:chrisram@berkeley.edu">{{ site.email }}</a></li>
        </ul>
      </div>

<!--
      <div class="col-md-4" style="">
        <a href="{{site.facebook}}"><i class="fa fa-lg fa-facebook"></i></a>
        <a href="{{site.instagram}}"><i class="fa fa-lg fa-instagram"></i></a>
        <a href="{{site.spotify}}"><i class="fa fa-lg fa-spotify"></i></a>
        <a href="{{site.github}}"><i class="fa fa-lg fa-github"></i></a>
        <a href="{{site.linkedin}}"><i class="fa fa-lg fa-linkedin"></i></a>
      </div>
-->

      <div class="col-md-4">
        <div class="footer-description">
          <div class="description-wrap">
            <p>{{ site.copyright }}</p>
            <p>{{ site.license }}</p>
          </div>
        </div>
      </div>
    </div>
    
</footer>