<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <!-- Collect the nav links, forms, and other content for toggling -->
      
        <div class="navbar-header" style="text-align: center; width:100%; position:absolute; margin-top:-5px;">
              <a class="navbar-brand" style="float: none;" ref="{{ "/" | prepend: site.baseurl }}">
                  <div id="title" style="color: white;">Christian Ramiro | {{ page.title }}</div>
              </a>
          </div>
        
        <ul class="nav navbar-nav navbar-left" style="width:30vw; font-size: 2.35vh;">
            <li>
                <a href="{{ "/index.html" | prepend: site.baseurl }}">Home</a>
            </li>
            <li class="dropdown">
              <a href="{{ "/about/team.html" | prepend: site.baseurl }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ "/about/who-am-i.html" | prepend: site.baseurl }}">Who Am I?</a></li>            
                <li><a href="{{ "/about/timeline.html" | prepend: site.baseurl }}">Timeline</a></li>
                <li><a href="{{ "/about/faq.html" | prepend: site.baseurl }}">FAQ</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ "/projects/research.html" | prepend: site.baseurl }}">Research</a></li>
                <li><a href="{{ "/projects/extracurricular.html" | prepend: site.baseurl }}">Extracurricular</a></li>
                <li><a href="{{ "/projects/in-class.html" | prepend: site.baseurl }}">In-Class</a></li>
                  <li><a href="{{ "/projects/non-technical.html" | prepend: site.baseurl }}">Non-Technical</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Resume <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ "/resume/resume.html" | prepend: site.baseurl }}">Resume</a></li>
                <li><a href="{{ "/resume/4-year-plan.html" | prepend: site.baseurl }}">4 Year Plan</a></li>
              </ul>
            </li>
          </ul>

      <ul class="nav navbar-nav navbar-right social">
                <li><a href="{{site.facebook}}"><i class="fa fa-lg fa-facebook"></i></a></li>
                <li><a href="{{site.instagram}}"><i class="fa fa-lg fa-instagram"></i></a></li>
                <li><a href="{{site.spotify}}"><i class="fa fa-lg fa-spotify"></i></a></li>
                <li><a href="{{site.github}}"><i class="fa fa-lg fa-github"></i></a></li>
                <li><a href="{{site.linkedin}}"><i class="fa fa-lg fa-linkedin"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>