<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Christian Ramiro | {{ page.title }}</title>
    <meta name="description" content="hi">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link href="../css/font-awesome.min.css" rel="stylesheet">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="../assets/javascripts/bootstrap.min.js"></script>

    <!-- Personal CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/bootstrap-override.css">
    
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Work Sans|Inconsolata|Bitter|Ubuntu" rel="stylesheet">

</head> 